<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    {% extends "main.html" %}

    {% block content %}

    <style>
        .home-container {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
        }
    </style>

    <div class="home-container">
        <div class="aside-bar">
           {% include 'base/topics_components.html'%}
        </div>
        <div>
          {% include 'base/feed_components.html'%}
        </div>
        <div class="recent-active">
          {% include 'base/activity_companents.html'%} 
    </div>

    {% endblock content %}

</body>

</html>